#myVideo {
    position:sticky;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  .videotext {
    position: sticky;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: gainsboro;
    width: 100%;
    padding: 20px;
    max-width: 97%;
  }

  .videotext h1
  {
      font-size: 28px;
  }

  .videotext p
  {
      font-size: 18px;
      font-style: oblique;
  }

  body
  {
      background-color: gainsboro;
      font-family: 'Shippori Antique', 'Libre Franklin', sans-serif
  }

  h1
  {
    font-size: 28px;
    font-family: 'Fira Sans', sans-serif;
  }

  main
  {
      font-size: 18px;
      background-color: gainsboro;
  }

  .content 
  {
    padding: 16px;
    color: maroon;
  }

  .intro
  {
    padding: 16px;
    border: 2px solid black;
    color: gainsboro;
    background-color: maroon;
  }

  .intro h1
  {
    margin: 0.5px;
    display: block;
  }

  .introcontent
  {
    display: flex;
    flex-direction: row;
    padding: 16px;
  }

  .introcontent p
  {
    flex: 4;
    padding: 26px;
  }

  .introcontent img
  {
    flex: 1;
    padding: 3px;
    width: 60%;
    height: 60%;
  }

  .intro2
  {
    padding: 16px;
    border: 2px solid black;
    color: black;
    background-color: skyblue;
  }

  .intro2 h1
  {
    display: block;
    margin: 0.5px;
  }

  .intro2 p
  {
    flex: 4;
    padding: 26px;
  }

  .intro2 img
  {
    flex: 1;
    padding: 3px;
    width: 60%;
    height: 60%;
  }

   /* Navbar */
  #navbar 
  {
    overflow: hidden;
    background-color: rgb(199, 199, 199);
    z-index: +1;
    font-family: 'Fira Sans', sans-serif;
    position:sticky;
  }
  
  .sticky 
  {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content 
  {
    padding-top: 60px;
  }

  nav ul 
  {
    display: flex;
    flex-direction: row;
    padding: 0px;
  }
  
  nav ul li 
  {
    flex:1;
    list-style-type: none;
  }

  nav ul li.logo
  {
    flex:3;
    list-style-type: none;
  }

  nav ul li a.thispage 
  { 
    background-color: skyblue;
    color: black;  
    border: 3px solid white;
    display: block;
    padding: 0.5em;
    margin: 1em;  
    text-align: center;
    text-decoration: none;  
    border-radius: 3px;
  }
  
  nav ul li a.other
  { 
    background-color: maroon;
    color: gainsboro;  
    border: 3px solid skyblue;
    display: block;
    padding: 0.5em;
    margin: 1em;  
    text-align: center;
    text-decoration: none;  
    border-radius: 3px;
  }
  
  nav ul li a:hover 
  {
    background-color: gainsboro;
    box-shadow: inset 3px 3px 15px rgb(65, 65, 65); 
    color: maroon; 
    border: 3px solid black;
  }

  nav ul li img 
  {
    padding-left: 20px;
    width: 70px;
    height: 70px;
  }
  
  @media screen and (max-width: 800px)
  {
    #navbar
    {
      position: static;
    }
    
    nav ul
    {
      flex-direction: column;
      padding: 0px;
    }

    nav ul li
    {
      margin-top: -0.8em;
      margin-bottom: -0.8em;
    }

    nav ul li img 
    {
      padding-left: 10px;
      width: 50px;
      height: 50px;
      margin-bottom: 1em;
    }

    .sticky
    {
      position: static;
    }
  }