#myVideo {
    position:sticky;
    right: 0;
    bottom: 0;
    min-width: 99%;
    min-height: 99%;
  }
  
  .videotext {
    position: sticky;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: gainsboro;
    width: 100%;
    padding: 20px;
  }

  .videotext h1
  {
      font-size: 24px;
  }

  .videotext p
  {
      font-size: 18px;
      font-style: oblique;
  }

  body
  {
      background-color: gainsboro;
  }

  main
  {
      font-size: 12px;
      background-color: gainsboro;
  }

  .content {
    padding: 16px;
  }

   /* Navbar */
  #navbar 
  {
    overflow: hidden;
    background-color: gainsboro;
    z-index: +1;
  }
  
  #navbar a 
  {
    float: right;
    display: flex;
    color: black;
    text-align: center;
    padding: 34px;
    text-decoration: none;
    font-size: 30px;
  }

  #navbar p 
  {
    float: left;
    display: flex;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 30px;
  }

  #navbar img 
  {
    float: left;
    display: flex;
    padding: 14px;
    width: 80px;
    height: 80px;
  }
  
  .sticky 
  {
    position: fixed;
    top: 0;
    width: 99%;
  }
  
  .sticky + .content 
  {
    padding-top: 60px;
  }


  